
@keyframes fadeIn {
    from {
        opacity: 0;
        color: white;
    }
    to {
        opacity: 1;
        color: black;
    }
}

.portfolioTitle {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.portfolioTitleP {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.titleBtn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}